*{
    margin: 0;
    padding: 0;
}
button {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    margin-left: 20px;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    color: hotpink;
}
h2, h3 {
    font-size: 30px;
    text-transform: capitalize;
}

#hudContainer{
    background-color: #f7faec;
   
}